  head {
    max-width: auto;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
  }

  image {
    margin-bottom: 50px;
  }
  
  
  body {
      min-width: auto;
       background: #ffffff;
       font-family: 'Work Sans';
  }

  li p {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  #header {
    height: 50px;
    width: 100%;
    padding: 0px;
    background-color: hsl(152, 100%, 63%);
    position: sticky;
  }
  
  #footer {
    height: 50px;
    width: 100%;
    background-color: hsl(152, 100%, 63%);
    color: #ffffff;
    clear: both;
    position: sticky;
    margin-top: 100px;
    margin-bottom: 0px;
  }
  
  .left {
    height: 1412px;
    width: 45px;
    background-color: #e0eeee;
    float: left;
    position: absolute;
  }
  
  .right {
    height: 1000px;
    width: 45px;
    background-color: #e0eeee;
    float: right;
    position: fixed;
  }
  
  .content {
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    margin-bottom: 55px ;
    width: 100%;
    height: 50px;
  }

  p,
  li {
    font-family: 'work sans';
  }
  
  .head {
    font-size: 20px;
  }
  
  #name {
    font-family: Work Sans;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }
  
  a {
    color: rgb(124, 124, 124);
  }

  